
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nav-link {
  @apply text-lg text-primary;
}

.cardHover {
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out, background-color 0.3s ease-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cardHover:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  background-color: #f1f5f9;
}

.mobile-menu {
  transform: translateX(-100%); 
  transition: transform 0.3s ease; 
}

.mobile-menu.open {
  transform: translateX(0); 
}


.nav-link {
  position: relative;
  overflow: hidden; 
  color: inherit; 
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px; 
  background: transparent; 
  bottom: 0;
  left: 100%; 
  transition: [property] [duration] [timing-function] [delay];

}

.nav-link:hover::after {
  left: 0; 
  background: #FC5959;
  ; 
}


